<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="casClientConfig" type="DotNetCasClient.Configuration.CasClientConfiguration, DotNetCasClient"/>
  </configSections>
  <casClientConfig
    casServerLoginUrl="https://freeuse1.casinthecloud.com/leleujgithub/login"
    casServerUrlPrefix="https://freeuse1.casinthecloud.com/leleujgithub/"
    serverName="http://localhost:55507"
    redirectAfterValidation="true"
    gateway="false"
    renew="false"
    singleSignOut="true"
    ticketTimeTolerance="5000"
    ticketValidatorName="Cas20"
    serviceTicketManager="CacheServiceTicketManager" />
  <system.web>
    <authentication mode="Forms">
      <forms
          loginUrl="https://freeuse1.casinthecloud.com/leleujgithub/login"
          timeout="30"
          defaultUrl="~/index.aspx"
          cookieless="UseCookies"
          slidingExpiration="true"
          path="/" />
    </authentication>
    <authorization>
      <allow users="*"/>
    </authorization>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="DotNetCasClient"/>
      <add name="DotNetCasClient"
           type="DotNetCasClient.CasAuthenticationModule,DotNetCasClient"/>
    </modules>
  </system.webServer>
</configuration>
